.lavaLamp {
	position: relative;
	height: 29px;
	width: 421px;
	background: url("img/bg.png") no-repeat top;
	padding: 15px;
	margin: 0 0;
	padding-left: 30px;
	overflow: hidden;
}
		.lavaLamp li {
			float: left;
			list-style: none;
		}
			.lavaLamp li.back {
				background: url("img/lava.png") no-repeat right -30px;
				width: 9px; height: 30px;
				z-index: 8;
				position: absolute;
			}
				.lavaLamp li.back .left {
					background: url("img/lava.png") no-repeat top left;
					height: 30px;
					margin-right: 9px; /* 7px is the width of the rounded shape */
				}
			.lavaLamp li a {
				font: bold 14px;
				text-decoration: none;
				color: #fff;
				outline: none;
				text-align: center;
				top: 7px;
				text-transform: uppercase;
				letter-spacing: 0;
				z-index: 10;
				display: block;
				float: left;
				height: 30px;
				position: relative;
				overflow: hidden;
				margin: auto 10px;    
			}
				.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
					border: none;
				}        